
.compiler-quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .compiler-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .question-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    color: #ffffff;
  }
  
  .compiler-layout {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: 1200px; 
    height: 50vh; 
    overflow: hidden;
  }
  
  .compiler-editor,
  .compiler-output {
    flex: 1;
    background: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .compiler-output {
    background-color: #101e3a;
    color: #e4dcdc;
  }
  
  .submit-button, .restart-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .submit-button {
    background-color: #28a745;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  
  .restart-button {
    background: #ffdd57;
    border: none;
    color: #1c2b47;
    font-size: 1.2rem;
    font-family: "Press Start 2P", cursive;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 5px;
  }
  
  .restart-button:hover {
    background: #f5a623;
  }

  .restart-button:focus {
   outline: none;
  }
  
 
  

  
  